.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    background-color: #e0ffef;
    display: flex;
    justify-content: center;

}
.footerNav {
    width: 100%;
    height: 60px; /* 例: 固定値の場合 */
}
.footerUl {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    text-align: center;
}
.footerLi {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerIcon {
    width: 30px;
    height: 30px;
}
.footerText {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12px;
}
.footerLink {
    text-decoration: none;
    color:black;
}