body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.mainText {
    word-break:normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateTitle {
    text-align:center;
}

.dateTitle1 {
    display:inline-block;
    background-color:#ffcce5;
    width: 130px;
    height: 40px;
    border-radius: 50%;
    line-height: 10px;
 }

 .dateTitle2 {
    display:inline-block;
    background-color:#9eceff;
    width: 130px;
    height: 40px;
    border-radius: 50%;
    line-height: 10px;
 }

 .dateTitle3 {
    display:inline-block;
    background-color:#ffd6ad;
    width: 130px;
    height: 40px;
    border-radius: 50%;
    line-height: 10px;
 }

#navbar {
    background-color: #f1f1f1;
    overflow: hidden;
    font-size: 13px;
    display: flex; /* ナビゲーションリンクを横並びにする */
    justify-content: space-around; /* リンクを均等割り付けにする */
    width: 100%; /* ヘッダー幅いっぱいにリンクを配置 */
}

#navbar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 0; /* 上下のパディングのみを調整 */
    text-decoration: none;
    font-weight: bold;
    flex: 1; /* リンクを均等幅にするための flex 属性 */
}

#navbar a:hover {
    background-color: #53b9f9;
}

#navbar .active {
    background-color: #53b9f9;
    color: white;
}

/* 画面コンテンツ */
.page {
    display: none;
    padding: 20px;
    text-align: center;
}

#innMap {
	width: 80%;
	max-width: 700px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}