body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.mainText {
    word-break:normal;
    text-align: left;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateTitle {
    text-align:center;
}

.dateTitle1 {
    display:inline-block;
    background-color:#ffcce5;
    width: 130px;
    height: 40px;
    border-radius: 50%;
    line-height: 10px;
 }

 .dateTitle2 {
    display:inline-block;
    background-color:#9eceff;
    width: 130px;
    height: 40px;
    border-radius: 50%;
    line-height: 10px;
 }

 .dateTitle3 {
    display:inline-block;
    background-color:#ffd6ad;
    width: 130px;
    height: 40px;
    border-radius: 50%;
    line-height: 10px;
 }

#navbar {
    background-color: #f1f1f1;
    overflow: hidden;
    font-size: 13px;
    display: flex; /* ナビゲーションリンクを横並びにする */
    justify-content: space-around; /* リンクを均等割り付けにする */
    width: 100%; /* ヘッダー幅いっぱいにリンクを配置 */
}

#navbar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 0; /* 上下のパディングのみを調整 */
    text-decoration: none;
    font-weight: bold;
    flex: 1; /* リンクを均等幅にするための flex 属性 */
}

#navbar a:hover {
    background-color: #53b9f9;
}

#navbar .active {
    background-color: #53b9f9;
    color: white;
}

/* 画面コンテンツ */
.page {
    display: none;
    padding: 20px;
    text-align: center;
}

#innMap {
	width: 100%;
	max-width: 700px;
	height: 300px;
	margin: 0 auto;
	padding: 0;
    bottom: 20px;
}

.naritaAirportMap {
    text-align:center;
}

.naritaAirportMap img {
    width: 300px;
}

/*セロテープ風*/
.box76{
    margin: 2em auto; /* ボックスの余白 */
    background-color: #F6EEEC; /* ボックス背景色 */
    padding:2.5em 2em 2em; /* ボックス内側余白 */
    position:relative; /* 配置(ここを基準に) */
    }
    .box76 .box-title {
    background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
    border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
    border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /*テープ影*/
    transform: rotate(-2deg);/*テープの傾き*/
    font-size: 0.7em;/*タイトル文字の大きさ*/
    color: #666; /*タイトル文字色 */
    padding: 0px 20px;/*タイトルの余白*/
    line-height: 1;/*タイトルの行の高さ*/
    position:absolute;/*配置(ここを動かす)*/
    top: -15px; /*上から（-10px）移動*/
    left: 20px; /*左から(20px)移動*/
    }