<footer>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img src="..//static/images/homeIcon.png" alt="ホーム">
                    <p>ホーム</p>
                </a>
            </li>
            <li>
                <a href="islands">
                    <img src="..//static/images/bookIcon.png" alt="島々の情報">
                    <p>島々の情報</p>
                </a>
            </li>
            <li>
                <img src="..//static/images/compassIcon.png" alt="しおり">
            </li>
        </ul>
    </nav>
</footer>