<footer class="footer">
    <nav class="footerNav">
        <ul class="footerUl">
            <li class="footerLi">
                <a href="/" class="footerLink">
                    <img src="..//static/images/homeIcon.png" alt="ホーム" class="footerIcon">
                    <p class="footerText">ホーム</p>
                </a>
            </li>
            <li class="footerLi">
                <a href="islands" class="footerLink">
                    <img src="..//static/images/bookIcon.png" alt="島々の情報" class="footerIcon">
                    <p class="footerText">島々の情報</p>
                </a>
            </li>
            <li class="footerLi">
                <a href="shiori" class="footerLink">
                    <img src="..//static/images/compassIcon.png" alt="しおり" class="footerIcon">
                    <p class="footerText">しおり</p>
                </a>
            </li>
        </ul>
    </nav>
</footer>