<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<title>しまなみ海道に行こう！</title>
    <link rel="stylesheet" href="\static\css\index.css">
</head>
<body>
    <header>
        <h1>しまなみ海道に行こう！</h1>
    </header>
    <main>
        <p>リンクをクリックすると地図に飛べるよ</p>
        <ul class="container">
            <li><a class="link" href="/map1">しまなみ海道全体の地図</a></li>
            <li><a class="link" href="/map2">地図2</a></li>
        </ul>
    <p><a href="/logout" role="button">ログアウト</a></p>
    </main>
</body>
</html>