<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<title>しまなみ海道に行こう！</title>
    <link rel="stylesheet" href="\static\css\index.css">
</head>
<body>
    <header class="header">
        <!-- ハンバーガーメニュー部分 -->
        <div class="nav">    
            <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
            <input id="drawer_input" class="drawer_hidden" type="checkbox">    
            <!-- ハンバーガーアイコン -->
            <label for="drawer_input" class="drawer_open"><span></span></label>    
            <!-- メニュー -->
            <nav class="nav_content">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/">TOP</a></li>
                    <li class="nav_item"><a href="/overview">OVERVIEW</a></li>
                    <li class="nav_item"><a href="islands1">各島について</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <p class="maplink"><a class="link" href="/map1">しまなみ海道<br>全体地図</a></p>
    </main>
</body>
</html>