<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/islands1">Page 1</a></li>
            <li><a href="/islands2">Page 2</a></li>
            <li><a href="/islands3">Page 3</a></li>
            <li><a href="/islands4">Page 4</a></li>
            <li><a href="/islands5">Page 5</a></li>
            <li><a href="/islands6">Page 6</a></li>
        </ul>
    </nav>
    <h1>Page 1</h1>
    <p>Content of Page 1</p>
</body>
</html>