<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>しまなみ海道の各島について</title>
	<link rel="stylesheet" href="\static\css\islands.css">
</head>
<body>
	<div id="container">
		<div id="page0" class="page">
		<nav>
			<ul class="headerlist">
				<li>大島</li>
				<li>伯方島</li>
				<li>大三島</li>
				<li>生口島</li>
				<li>因島</li>
				<li>向島</li>
			</ul>
		</nav>
			<h1>ページ1</h1>
			<p>スワイプして次のページに進んでください。</p>
		</div>
		<div id="page1" class="page">
		<nav class="headerlist">
			<ul>
				<li>大島</li>
				<li>伯方島</li>
				<li>大三島</li>
				<li>生口島</li>
				<li>因島</li>
				<li>向島</li>
			</ul>
		</nav>
			<h1>ページ2</h1>
			<p>スワイプして次のページに進んでください。</p>
		</div>
		<div id="page2" class="page">
		<nav class="headerlist">
			<ul>
				<li>大島</li>
				<li>伯方島</li>
				<li>大三島</li>
				<li>生口島</li>
				<li>因島</li>
				<li>向島</li>
			</ul>
		</nav>
			<h1>ページ3</h1>
			<p>スワイプして次のページに進んでください。</p>
		</div>
		<div id="page3" class="page">
		<nav class="headerlist">
			<ul>
				<li>大島</li>
				<li>伯方島</li>
				<li>大三島</li>
				<li>生口島</li>
				<li>因島</li>
				<li>向島</li>
			</ul>
		</nav>
			<h1>ページ4</h1>
			<p>スワイプして次のページに進んでください。</p>
		</div>
		<div id="page4" class="page">
		<nav class="headerlist">
			<ul>
				<li>大島</li>
				<li>伯方島</li>
				<li>大三島</li>
				<li>生口島</li>
				<li>因島</li>
				<li>向島</li>
			</ul>
		</nav>
			<h1>ページ5</h1>
			<p>スワイプして次のページに進んでください。</p>
		</div>
		<div id="page5" class="page">
		<nav class="headerlist">
			<ul>
				<li>大島</li>
				<li>伯方島</li>
				<li>大三島</li>
				<li>生口島</li>
				<li>因島</li>
				<li>向島</li>
			</ul>
		</nav>
			<h1>ページ6</h1>
			<p>これが最後のページです。</p>
		</div>
	</div>
	
	<script src="\static\javascript\islands.js"></script>
</body>
</html>
