<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Web App</title>
    <link rel="stylesheet" type="text/css" href="\static\css\islandssin.css">
    <script src="\static\javascript\islandssin.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/islands1">Page 1</a></li>
            <li><a href="/islands2">Page 2</a></li>
            <li class="active"><a href="/islands3">Page 3</a></li>
            <li><a href="/islands4">Page 4</a></li>
            <li><a href="/islands5">Page 5</a></li>
            <li><a href="/islands6">Page 6</a></li>
        </ul>
    </nav>
    <h1>Page 1</h1>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
