<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <title>map1</title>
    <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 34.2202921, lng: 133.0897741},
                zoom: 11.08,
                gestureHandling: 'greedy'
            });
        }
    </script>
</head>
<body onload="initMap()">
<h1>しまなみ海道全体の地図</h1>
    <div id="map"></div>
</body>
</html>