<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <title>map2</title>

    <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.6811673, lng: 139.7670516},
                zoom: 15
            });
        }
    </script>
</head>
<body onload="initMap()">
<h1>map2だ!</h1>
    <div id="map"></div>
</body>
</html>