<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<title>概要</title>
    <link rel="stylesheet" href="\static\css\overview.css">
</head>
<body>
    <header class="header">
        <!-- ハンバーガーメニュー部分 -->
        <div class="nav">    
            <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
            <input id="drawer_input" class="drawer_hidden" type="checkbox">    
            <!-- ハンバーガーアイコン -->
            <label for="drawer_input" class="drawer_open"><span></span></label>    
            <!-- メニュー -->
            <nav class="nav_content">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/">TOP</a></li>
                    <li class="nav_item"><a href="/overview">OVERVIEW</a></li>
                    <li class="nav_item"><a href="/islands">各島について</a></li>
                </ul>
            </nav>
        </div>
        
        <h1>しまなみ海道ってどんなとこ？</h1>
    </header>
    <main>
        <dl>
            <dt>所要時間</dt>
            <dd>自転車に乗り慣れている人で4～5時間、体力に自信のある人で5～6時間、初心者やゆっくり走りたい人で10時間が目安</dd>
            <dt>全長</dt>
            <dd>70m</dd>
        </dl>
    </main>
</body>
</html>