<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>しおり</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\shiori.css">
    <link rel="stylesheet" href="\static\css\footer.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <a class="nav-item active" href="#" onclick="changePage(1)">１日目</a>
            <a class="nav-item" href="#" onclick="changePage(2)">２日目</a>
            <a class="nav-item" href="#" onclick="changePage(3)">３日目</a> 
        </nav>
    </header>
    
    <div class="page" id="page1">
        <div class="dateTitle">
            <h1 class="dateTitle1">１日目</h1>
        </div>
        <div class="box76">
        <div class="box-title"><h2>成田空港集合</h2></div>            
            <div class="mainText">
                <p>8:50発→松山着9:50　ジェットスター</p>
                <div class="naritaAirportMap">
                    <img src="\static\images\narita_terminal_map.png" alt="成田空港の地図">
                </div>
            </div>
        </div>
        <div class="box76">
        <div class="box-title"><h2>松山空港到着</h2></div>
        </div>
        <div class="box76">
        <div class="box-title"><h2>今治</h2></div>            
                <p>ここでレンタサイクルを調達</p>
        </div>
        <div class="box76">
            <div class="box-title"><h2>大三島</h2></div>
            <div class="mainText">
                <p><a href="https://shimanami.bike/" target="_blank">「I-LINK HOSTEL & CAFE SHIMANAMI」</a>に宿泊</p>
                <p>ここに地図が入る</p>
            </div>
        </div>
<!--        <figure id="innMap"></figure>  -->     
    </div>
    
    <div class="page" id="page2">
        <div class="dateTitle">
            <h1 class="dateTitle2">２日目</h1>
        </div>
        <h2>大三島出発</h2>
        <h2>尾道</h2>
        <h2>広島市</h2>
        <div class="mainText">
            <p>宿泊だー</p>
        </div>           
    </div>

    <div class="page" id="page3">
        <div class="dateTitle">
            <h1 class="dateTitle3">３日目</h1>
        </div>
        <h2>広島観光</h2>
        <h2>広島空港</h2>
        <div class="mainText">
            <p>18:35発→成田着20:00　スプリングジャパン</p>
        </div>
        <h2>成田空港</h2>
        <div class="mainText">
        <p></p>
        </div>           
    </div>
    
    <!--footer-->
    {% include "footer.html" %} 

    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
    <script src="\static\javascript\shiori.js"></script>
</body>
</html>