<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>しおり</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\shiori.css">
    <link rel="stylesheet" href="\static\css\footer.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
                <li class="nav-item active"><a href="#" onclick="changePage(1)">１日目</a></li>
                <li class="nav-item"><a href="#" onclick="changePage(2)">２日目</a></li>
                <li class="nav-item"><a href="#" onclick="changePage(3)">３日目</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="page" id="page1">
        <h1>１日目</h1>
        <p class="mainText"></p>       
    </div>
    
    <div class="page" id="page2">
        <h1>２日目</h1>
        <p class="mainText"></p>           
    </div>

    <div class="page" id="page3">
        <h1>３日目</h1>
        <p class="mainText"></p>           
    </div>
    
    <!--footer-->
    {% include "footer.html" %} 
    <script src="\static\javascript\shiori.js"></script>
</body>
</html>